//   code {
//     font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//       monospace;
//   }

//Bootstrap overrides
@import "./custom";

html {
  font-size: 12px;
  @include media-breakpoint-up(xxl) {
    font-size: 15px;
  }
  @include media-breakpoint-up(xxxl) {
    font-size: 16px;
  }
}